/* @import "tailwindcss"; */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import "tailwindcss/utilities"; */
:root {
  /* --background: #f6f6f6;
  --foreground: #333; */

  --background-light: #f2f2f3;
  --background-dark: #020415;
  --text-light: #242424;
  --text-dark: #ffffff;
}

/* @theme inline { */
/* --color-background: var(--background); */
/* --color-foreground: var(--foreground); */
/* --font-sans: var(--font-geist-sans); */
/* --font-mono: var(--font-geist-mono); */
/* } */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #020415;
    --foreground: #fff;
  }
} */

/* body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */

html.light {
  background: var(--background-light);
  color: var(--text-light);
}

html.dark {
  background: var(--background-dark);
  color: var(--text-dark);
}
